{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ parent() }} - Конфиги
{% endblock title %}

{% block body %}
    {% block page_title %}
        <header>
            <h1>Конфиги</h1>
        </header>
    {% endblock page_title %}
    <div class="results-list">
        <div class="table_list"> 
            <table id="table-list-Configs" class="table table-striped table-hover table-condensed">
                <thead>
                    <tr class="list_thead">
                        <th class="list_thead_column">
                            Ссылка
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if routes is not empty %}
                        {% for name, route in routes %}
                            <tr class="list_trow">
                                <td class="td_string td_name">
                                    <a href="{{ route }}">{{ name }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="list_trow no_results_row">
                            <td colspan="1">Конфигов нет</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}