{% extends "::base_admin.html.twig" %}

{% block title %}
    {{ parent() }} - {{ Settings.name }}
{% endblock title %}

{% block body %}
    {% block page_title %}
        <header>
            <h1>{{ Settings.name }}</h1>
        </header>
    {% endblock page_title %}
    <div class="row-fluid">
        {% block form %}
            {{ form_start(form) }}
                <fieldset class="form_block form_fieldset_NONE">
                    {{ form_rest(form) }}
                </fieldset>
            {{ form_end(form) }}
        {% endblock form %}
    </div>
{% endblock body %}