<li class="select_store">
    <span class="link">Магазин</span>

    <span class="drop_list">
        <a href="#" class="selected">Магазин</a>
        <ul class="menu_level_1">
            {% for store in stores %}
                <li>
                    <a href='{{ path('set_store', { 'id': store.id }) }}' {{ active_store == store.id ? 'selected="selected"' : '' }}>{{ store }}</a>
                </li>
            {% endfor %}
        </ul>
    </span>
</li>