@import url("../../admingeneratorgenerator/css/base_styles.less");

.field_content .select2-container               { display: inline-block !important; }

.form_block                                     {
/************************nlcollection****************/
    .nlcollection                               { 
        li                                      { margin-bottom: 1px; padding: 0.5em; background-color: fadeout(@color-gray, 75%);
            input,select                        { min-width: 7em; width: 7em; margin-right: 0.7em; }
            div                                 {
                &:first-child                   { display: inline-block; }
                &:empty                         { display: block; }
            }
            .form_row                           { display: inline-block; padding-top: 0;  
                   label                        { display: block; padding-right: 0.7em; padding-bottom: 0.3em; width: auto; text-align: left; } 
            }
            a                                   { vertical-align: sub; }
            & + .button_add                     { margin-top: 0.7em; }
            input + a                           { vertical-align: middle; }
        }
    }
}

//files upload
.files                                          {   
    .preview img                                { max-width: 13em; }
}

//TABS
.tab_content                                    { padding: 0; 
    legend:first-child                          { display: none; }
}

// help block
.help-block, .seo_template_help                 { .small; font-style: italic; color: darken(@color-gray, 15%); }
.seo_template_help                              { margin: 0.5em 0; padding: 0.5em; border: 1px solid @color-gray; 
    h4                                          { margin: 0; color: darken(@color-gray, 15%); }
    span                                        { display: block; }                    
} 
.form_fieldset_Seo .seo_template_help           { max-width: 52em; margin-left: 21.5%; }
.help-block                                     { display: block; max-width: 30em; }

/*************************** SETTINGS for MOBILE  *************************/
@media handheld, only screen and (max-width: 1024px) {     
    .form_fieldset_Seo .seo_template_help           { margin-left: 1em; margin-right: 1em; }
}    


/*************************** SETTINGS for MOBILE mini *************************/
@media handheld, only screen and (max-width: 480px) {
    .form_block                                     {
        .nlcollection                               { padding: 0;
            li                                      {
                div                                 { width: 100%; padding: 0; }
                input + a                           { margin-top: 0.5em; }
            } 
        }
    } 
}

.nlcollection.table                                 {
    .item                                           {
        td                                          { padding-top: 1.5em; padding-bottom: 1.5em; vertical-align: bottom;
        .lang_tab_content                           { margin-top: -1px; padding: 0.3em; border: 1px solid @color-gray; }
        .form_row, .select2-container, 
        .select2-container-multi, .files            { margin-bottom: 0; }
        }
    }
    input[type="file"]                              { .border_box; max-width: 14em; }
    textarea                                        { max-width: 80em; }
    .files                                          { width: 17em; }
    .row_content                                    {
        input[type="text"]:not(.select2-input), select,
        input[type="password"], input[type="phone"], 
        input[type="number"], input[type="email"], 
        input[type="date"], textarea                { max-width: 20em; }
    }
    .show_hidden_block                              { padding: 1.1em 0; border-top: 1px solid lighten(@color-gray, 10%); }
}
