{% block masked_input_javascript %}
    {% javascripts '@NitraStoreBundle/Resources/public/js/jquery.maskedinput.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% for key, value in definitions %}
                $.mask.definitions['{{ key }}'] = '{{ value|raw }}';
            {% endfor %}
            var newConfigs = {};
            {% for key, value in parameters %}
                {% if 'function' in value %}
                    newConfigs["{{ key }}"] = {{ value|raw }};
                {% else %}
                    newConfigs["{{ key }}"] = {{ value|json_encode|raw }};
                {% endif %}
            {% endfor %}
            $('#{{ form.vars.id }}').mask("{{ form.vars.mask }}", newConfigs);
        });
    </script>
{% endblock masked_input_javascript %}