{% block embed_product_management_product_names_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            var id = '#edit_{{ form.parent.vars.name }}-{{ form.parent.vars.id }}';
            
            $(id).sortable({
                items:  "> li"
            });

            if ($(id).children('li').length) {
                functionLoadAllowedValues{{ form.parent.vars.name ~ name }}({
                    term:     '',
                    callback: function(data) {
                        $(id + ' > li').each(function() {
                            var $input = $(this).find('input[id$=field]');
                            var val = $input.val();
                            if (!val) {
                                return true;
                            }
                            if (val.match(/^text\|\|\|.*/)) {
                                $input.select2("data", {
                                    id:   val,
                                    text: val.replace(/^text\|\|\|/, '')
                                });
                            } else {
                                for (var i in data.results) {
                                    if (data.results[i].id === val) {
                                        $input.select2("data", data.results[i]);
                                    }
                                }
                            }
                        });
                    }
                });
            }

            $('form').submit(function() {
                setOrdersToCollection(id);
            });
        });

        function setOrdersToCollection(ul) {
            var i = 0;
            $(ul + ' > li').each(function() {
                $(this).find('input[type=hidden][id$=order]').val(i);
                i ++;
            });
        }

        function functionLoadAllowedValues{{ form.parent.vars.name ~ name }}(query) {
            var data = {results: []};
            if (query.term) {
                data.results.push({
                    id:   'text|||' + query.term,
                    text: query.term
                });
                query.callback(data);
            }

            $.post(
                "{{ path("Nitra_StoreBundle_Store_allowedValuesForGenerateProductName") }}",
                {
                    {% if category -%}
                        category:       {{ category|raw }},
                    {% endif -%}
                    term:           query.term,
                    products:       {{ products ? '1' : '0' }},
                    parameters:     {{ parameters ? '1' : '0' }},
                    parametersType: '{{ parametersType }}'
                },
                function(result) {
                    for (var id in result) {
                        data.results.push({
                            id:         id,
                            text:       result[id]
                        });
                    }
                    query.callback(data);
                }
            );
        }
    </script>
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
{% endblock embed_product_management_product_names_javascript %}